/* Navbar Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$navbar-base-height:    36px;
$navbar-height:         $navbar-base-height;
$navbar-inner-height:   $navbar-base-height;

$navbar-base-padding:   ($navbar-base-height / 3) !default;
$navbar-indent-margin:  ceil($navbar-base-height * 1.5) !default;
$navbar-margin-offset:  ((0 - $navbar-base-padding) / 2) !default;

$navbar-font-size:      20px;
$navbar-color:          rgba(0, 0, 0, 0.87);
$navbar-background:     rgba(255, 255, 255, 0.70);

$navbar-box-shadow:     0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
$navbar-border-color:   rgba(0, 0, 0, 0.12);




/* Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$content-height:        calc(100vh - #{$navbar-height});
$content-panels-height: calc(#{$content-height} - #{$navbar-height});
