/* Navbar Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$navbar-base-height:    36px;
$navbar-height:         $navbar-base-height;
$navbar-inner-height:   $navbar-base-height;

$navbar-base-padding:   ($navbar-base-height / 3) !default;
$navbar-indent-margin:  ceil($navbar-base-height * 1.5) !default;
$navbar-margin-offset:  ((0 - $navbar-base-padding) / 2) !default;

$navbar-font-size:      20px;
$navbar-color:          rgba(0, 0, 0, 0.87);
$navbar-background:     rgba(255, 255, 255, 0.70);

$navbar-box-shadow:     $shadow-z4;
$navbar-border-color:   rgba(0, 0, 0, 0.12);




/* Navbar Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$subnav-base-height:    24px;
$subnav-height:         $subnav-base-height;
$subnav-inner-height:   $subnav-base-height;

$subnav-base-padding:   ($subnav-base-height / 3) !default;
$subnav-indent-margin:  ceil($subnav-base-height * 1.5) !default;
$subnav-margin-offset:  ((0 - $subnav-base-padding) / 2) !default;

$subnav-font-size:      16px;
$subnav-color:          rgba(255, 255, 255, 1.00);
$subnav-background:     rgba(0, 0, 0, 1.00);

$subnav-box-shadow:     $shadow-z3;
$subnav-border-color:   rgba(255, 255, 255, 0.12);




/* Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$content-height:        calc(100vh - #{$navbar-height});
$content-panels-height: calc(#{$content-height} - #{$navbar-height});
