






/* Flexbox Structure
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$baseline-grid:             8px;
$layout-gutter-width:       ($baseline-grid * 2);

$layout-breakpoint-xs:      480px;
$layout-breakpoint-sm:      600px;
$layout-breakpoint-md:      960px;
$layout-breakpoint-lg:      1200px;
$layout-breakpoint-xl:      1600px;

$device-mobile-portrait:    0;
$device-mobile-landscape:   0;
$device-phablet-portrait:   0;
$device-phablet-landscape:  0;
$device-tablet-portrait:    0;
$device-tablet-landscape:   0;

$panel-height-xs:   50%;
$panel-height-sm:   50%;
$panel-height-md:   60%;
$panel-height-lg:   50%;
$panel-height-xl:   50%;

$panel-width-xs:    40%;
$panel-width-sm:    40%;
$panel-width-md:    40%;
$panel-width-lg:    35%;
$panel-width-xl:    30%;

$video-height-xs:   (100% - $panel-height-xs);
$video-height-sm:   (100% - $panel-height-sm);
$video-height-md:   (100% - $panel-height-md);
$video-height-lg:   (100% - $panel-height-lg);
$video-height-xl:   (100% - $panel-height-xl);

$video-width-xs:    (100% - $panel-width-xs);
$video-width-sm:    (100% - $panel-width-sm);
$video-width-md:    (100% - $panel-width-md);
$video-width-lg:    (100% - $panel-width-lg);
$video-width-xl:    (100% - $panel-width-xl);


// Mobile Portrait
// ------------------------------

@media only screen
  and (max-width: $layout-breakpoint-xs - 1)
  and (orientation: portrait) {

}


// Mobile Landscape
// ------------------------------

@media only screen
  and (min-width: $layout-breakpoint-xs)
  and (max-width: $layout-breakpoint-md)
  and (orientation: landscape) {

}


// Tablet Portrait
// ------------------------------

@media only screen
  and (min-width: $layout-breakpoint-sm)
  and (orientation: portrait) {

}


// Tablet Landscape
// ------------------------------

@media only screen
  and (min-width: $layout-breakpoint-md)
  and (max-width: $layout-breakpoint-lg)
  and (orientation: landscape) {

}






/* Angular-Material Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$swift-ease-out-duration: 0.4s !default;
$swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !default;
$swift-ease-out: all $swift-ease-out-duration $swift-ease-out-timing-function !default;

$swift-ease-in-duration: 0.3s !default;
$swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2) !default;
$swift-ease-in: all $swift-ease-in-duration $swift-ease-in-timing-function !default;

$swift-ease-in-out-duration: 0.5s !default;
$swift-ease-in-out-timing-function: cubic-bezier(0.35, 0, 0.25, 1) !default;
$swift-ease-in-out: all $swift-ease-in-out-duration $swift-ease-in-out-timing-function !default;









/* Angular-Material Box Shadows
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$shadow-key-umbra-opacity:      0.2;
$shadow-key-penumbra-opacity:   0.14;
$shadow-ambient-shadow-opacity: 0.12;

$shadow-z1: 0px 1px 3px 0px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 1px 1px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 2px 1px -1px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-z2: 0px 2px 4px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 4px 5px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 1px 10px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-z3: 0px 4px 5px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 7px 10px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 2px 16px 1px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-z4: 0px 6px 6px -3px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 10px 14px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 4px 18px 3px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-z5: 0px 7px 8px -4px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 13px 19px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 5px 24px 4px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;

