/* Flexbox Structure
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$baseline-grid:             8px;
$layout-gutter-width:       ($baseline-grid * 2);

$layout-breakpoint-xs:      480px;
$layout-breakpoint-sm:      600px;
$layout-breakpoint-md:      960px;
$layout-breakpoint-lg:      1200px;
$layout-breakpoint-xl:      1600px;

$device-mobile-portrait:    0;
$device-mobile-landscape:   0;
$device-phablet-portrait:   0;
$device-phablet-landscape:  0;
$device-tablet-portrait:    0;
$device-tablet-landscape:   0;


// ------------------------------
// Mobile Portrait
// ------------------------------

@media only screen
  and (max-width: $layout-breakpoint-xs - 1)
  and (orientation: portrait) {

}


// ------------------------------
// Mobile Landscape
// ------------------------------

@media only screen
  and (min-width: $layout-breakpoint-xs)
  and (max-width: $layout-breakpoint-md)
  and (orientation: landscape) {

}


// ------------------------------
// Tablet Portrait
// ------------------------------

@media only screen
  and (min-width: $layout-breakpoint-sm)
  and (orientation: portrait) {

}


// ------------------------------
// Tablet Landscape
// ------------------------------

@media only screen
  and (min-width: $layout-breakpoint-md)
  and (max-width: $layout-breakpoint-lg)
  and (orientation: landscape) {

}






/* Angular-Material Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */


// ------------------------------
// Easing Curves
// ------------------------------

$swift-ease-out-duration: 0.4s !default;
$swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !default;
$swift-ease-out: all $swift-ease-out-duration $swift-ease-out-timing-function !default;

$swift-ease-in-duration: 0.3s !default;
$swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2) !default;
$swift-ease-in: all $swift-ease-in-duration $swift-ease-in-timing-function !default;

$swift-ease-in-out-duration: 0.5s !default;
$swift-ease-in-out-timing-function: cubic-bezier(0.35, 0, 0.25, 1) !default;
$swift-ease-in-out: all $swift-ease-in-out-duration $swift-ease-in-out-timing-function !default;

// ------------------------------




// ------------------------------
// Material Design Shadows
// ------------------------------
// https://www.google.com/design/spec/what-is-material/elevation-shadows.html#elevation-shadows-shadows

$shadow-key-umbra-opacity:      0.20;
$shadow-key-penumbra-opacity:   0.14;
$shadow-ambient-shadow-opacity: 0.12;

$shadow-level-1:  0px 1px 3px 0px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 1px 1px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 2px 1px -1px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-2:  0px 1px 5px 0px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 2px 2px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 3px 1px -2px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-3:  0px 1px 8px 0px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 3px 4px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 3px 3px -2px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-4:  0px 2px 4px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 4px 5px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 1px 10px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-5:  0px 3px 5px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 5px 8px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 1px 14px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-6:  0px 3px 5px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 6px 10px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 1px 18px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-7:  0px 4px 5px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 7px 10px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 2px 16px 1px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-8:  0px 5px 5px -3px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 8px 10px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 3px 14px 2px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-9:  0px 5px 6px -3px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 9px 12px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 3px 16px 2px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-10: 0px 6px 6px -3px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 10px 14px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 4px 18px 3px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-11: 0px 6px 7px -4px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 11px 15px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 4px 20px 3px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-12: 0px 7px 8px -4px  rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 12px 17px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 5px 22px 4px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-13: 0px 7px 8px -4px  rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 13px 19px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 5px 24px 4px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-14: 0px 7px 9px -4px  rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 14px 21px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 5px 26px 4px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-15: 0px 8px 9px -5px  rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 15px 22px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 6px 28px 5px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-16: 0px 8px 10px -5px  rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 16px 24px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 6px 30px 5px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-17: 0px 8px 11px -5px  rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 17px 26px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 6px 32px 5px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-18: 0px 9px 11px -5px  rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 18px 28px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 7px 34px 6px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-19: 0px 9px 12px -6px  rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 19px 29px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 7px 36px 6px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-20: 0px 10px 13px -6px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 20px 31px 3px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 8px 38px 7px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-21: 0px 10px 13px -6px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 21px 33px 3px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 8px 40px 7px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-22: 0px 10px 14px -6px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 22px 35px 3px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 8px 42px 7px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-23: 0px 11px 14px -7px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 23px 36px 3px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 9px 44px 8px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;
$shadow-level-24: 0px 11px 15px -7px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 24px 38px 3px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 9px 46px 8px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;

// ------------------------------









///
//  TODO: Remove Subnav
///

/* Subnav Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$navbar-height:               36px;
$subnav-height:               24px;

$subnav-margin-bottom:        0; //$line-height-computed;
$subnav-border-radius:        $border-radius;
$subnav-padding-horizontal:   $navbar-padding-horizontal;
$subnav-padding-vertical:     $navbar-padding-vertical / 2;
$subnav-collapse-max-height:  240 !default;

$subnav-color:                $gray-darker;
$subnav-bg:                   #f5f5f5;
$subnav-border:               darken($navbar-light-color, 6.5%);


// Subnav links
$subnav-link-color:           $link-color;
$subnav-link-hover-color:     $link-hover-color;
$subnav-link-hover-bg:        transparent;
$subnav-link-active-color:    $gray;
$subnav-link-active-bg:       darken($subnav-bg, 6.5%);
$subnav-link-disabled-color:  #ccc;
$subnav-link-disabled-bg:     transparent;

$subnav-link-padding:         4px 6px;

// Subnav brand label
$subnav-brand-color:          $gray-darker;
$subnav-brand-hover-color:    darken($subnav-brand-color, 10%);
$subnav-brand-hover-bg:       transparent;

// Subnav toggle
$subnav-toggle-hover-bg:      #ddd;
$subnav-toggle-icon-bar-bg:   #888;
$subnav-toggle-border-color:  #ddd;

/* ––––––––––––––––––––––––––––––––––––––––––––––– */
