






/* Flexbox Structure
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$baseline-grid:             8px;
$layout-gutter-width:       ($baseline-grid * 2);

$layout-breakpoint-xs:      480px;
$layout-breakpoint-sm:      600px;
$layout-breakpoint-md:      960px;
$layout-breakpoint-lg:      1200px;
$layout-breakpoint-xl:      1600px;

$device-mobile-portrait:    0;
$device-mobile-landscape:   0;
$device-phablet-portrait:   0;
$device-phablet-landscape:  0;
$device-tablet-portrait:    0;
$device-tablet-landscape:   0;


// Mobile Portrait
// ------------------------------

@media only screen
  and (max-width: $layout-breakpoint-xs - 1)
  and (orientation: portrait) {

}


// Mobile Landscape
// ------------------------------

@media only screen
  and (min-width: $layout-breakpoint-xs)
  and (max-width: $layout-breakpoint-md)
  and (orientation: landscape) {

}


// Tablet Portrait
// ------------------------------

@media only screen
  and (min-width: $layout-breakpoint-sm)
  and (orientation: portrait) {

}


// Tablet Landscape
// ------------------------------

@media only screen
  and (min-width: $layout-breakpoint-md)
  and (max-width: $layout-breakpoint-lg)
  and (orientation: landscape) {

}






/* Angular-Material Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$swift-ease-out-duration: 0.4s !default;
$swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !default;
$swift-ease-out: all $swift-ease-out-duration $swift-ease-out-timing-function !default;

$swift-ease-in-duration: 0.3s !default;
$swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2) !default;
$swift-ease-in: all $swift-ease-in-duration $swift-ease-in-timing-function !default;

$swift-ease-in-out-duration: 0.5s !default;
$swift-ease-in-out-timing-function: cubic-bezier(0.35, 0, 0.25, 1) !default;
$swift-ease-in-out: all $swift-ease-in-out-duration $swift-ease-in-out-timing-function !default;









/* Subnav Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$navbar-height:               36px;
$subnav-height:               24px;

$subnav-margin-bottom:        0; //$line-height-computed;
$subnav-border-radius:        $border-radius;
$subnav-padding-horizontal:   $navbar-padding-horizontal;
$subnav-padding-vertical:     $navbar-padding-vertical / 2;
$subnav-collapse-max-height:  240 !default;

$subnav-color:                $gray-darker;
$subnav-bg:                   #f5f5f5;
$subnav-border:               darken($navbar-light-color, 6.5%);


// Subnav links
$subnav-link-color:           $link-color;
$subnav-link-hover-color:     $link-hover-color;
$subnav-link-hover-bg:        transparent;
$subnav-link-active-color:    $gray;
$subnav-link-active-bg:       darken($subnav-bg, 6.5%);
$subnav-link-disabled-color:  #ccc;
$subnav-link-disabled-bg:     transparent;

$subnav-link-padding:         4px 6px;

// Subnav brand label
$subnav-brand-color:          $gray-darker;
$subnav-brand-hover-color:    darken($subnav-brand-color, 10%);
$subnav-brand-hover-bg:       transparent;

// Subnav toggle
$subnav-toggle-hover-bg:      #ddd;
$subnav-toggle-icon-bar-bg:   #888;
$subnav-toggle-border-color:  #ddd;

/* ––––––––––––––––––––––––––––––––––––––––––––––– */
