/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */


// Brand Colours
// ------------------------------


$brand-primary:   $gpq-fin-blue;                  // darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:   lighten($gpq-gbr-green, 6.5%);  // #5cb85c !default;
$brand-info:      lighten($gpq-fra-blue, 6.5%);   // #5bc0de !default;
$brand-warning:   $gpq-mcl-orange;                // #f0ad4e !default;
$brand-danger:    $gpq-ita-red;                   // #d9534f !default;


// Greyscale
// ------------------------------

$gray-base:         #000;
$gray:              desaturate($brand-primary, 50);
$gray-darker:       darken($gray, 23);
$gray-dark:         darken($gray, 14);
$gray-light:        lighten($gray, 17);
$gray-lighter:      lighten($gray, 51);
$gray-lightest:     lighten($gray, 56);


// Global & Base
// ------------------------------

$body-bg:               #fff;
$text-color:            rgba(0, 0, 0, 0.87);
$link-color:            $brand-primary;
$link-hover-color:      darken($gpq-ita-red, 15%);
