html,
body {
  background: #000;
  height: 100%;
  min-height: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html {

}

body {
  padding-top: $navbar-base-height;
}
