<header class="app-header">






  <!-- Top Navigation Bar
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <gp-navbar class="navbar-inverse navbar-fixed-top">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <gp-stripes>
        </gp-stripes>
        <span>poppyGP</span>
      </a>
    </div>


    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>
    </div>

  </gp-navbar>

  <!-- end top navigation bar –––––––––––––––––––––– -->






</header>
