




/* Navbar Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

gp-subnav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  position: fixed;
  bottom: 0;

  z-index: 2;
  width: 100%;
  background: $subnav-background;

  min-height: $subnav-base-height;
  padding: 0 $subnav-base-padding;

  border-bottom-color: $subnav-border-color;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: $subnav-border-color;
  border-right-color: $subnav-border-color;
  border-top-color: $subnav-border-color;

  box-shadow: $subnav-box-shadow;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

}


// ------------------------------
// Inner Container
// ------------------------------

.gp-subnav-inner {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;

  height: $subnav-inner-height;
  min-height: $subnav-inner-height;
  max-height: $subnav-inner-height;
  width: 100%;

  color: $subnav-color;
  font-weight: 500;
  font-size: $subnav-font-size;
  letter-spacing: 0.005em;

  padding: 0;
  margin: 0;

}

.gp-subnav-inner {
  @media screen and (-ms-high-contrast: active) {
    border-bottom: 1px solid #fff;
  }
}

// Handle mobile portrait
@media only screen and (min-width: 0) and (max-width: $layout-breakpoint-sm) and (orientation: portrait) {
  gp-subnav {
    min-height: navbar-portrait($subnav-base-height);
    padding: 0 navbar-portrait($subnav-base-padding);
  }

  .gp-subnav-inner {
    height: navbar-portrait($subnav-base-height);
    max-height: navbar-portrait($subnav-base-height);
    font-size: navbar-portrait($subnav-font-size);
  }
}

// Handle mobile landscape
@media only screen and (min-width: 0) and (max-width: $layout-breakpoint-sm) and (orientation: landscape) {
  gp-subnav {
    min-height: navbar-landscape($subnav-base-height);
    padding: 0 navbar-landscape($subnav-base-padding);
  }

  .gp-subnav-inner {
    height: navbar-landscape($subnav-base-height);
    max-height: navbar-landscape($subnav-base-height);
    font-size: navbar-landscape($subnav-font-size);
  }
}
