  //
  // Subnavs
  // --------------------------------------------------


  // Wrapper and base class
  //
  // Provide a static subnav from which we expand to create full-width, fixed, and
  // other subnav variations.

  subnav {
    position: relative;
    min-height: $subnav-height; // Ensure a subnav always shows (e.g., without a .subnav-brand in collapsed mode)
    background-color: $subnav-bg;
    border: 1px solid $subnav-border;

    // Prevent floats from breaking the subnav
    @include clearfix;

    @media (min-width: $grid-float-breakpoint) {
      border-radius: $subnav-border-radius;
    }
  }
