
<uib-accordion close-others="false" class="gp-content-panels">




  <uib-accordion-group heading="Home" template-url="app/layout/content/panel.html">
    <gp-webchat network="irc.snoonet.org" nick="poppyGP" channel="f1">
    </gp-webchat>
  </uib-accordion-group>


  <uib-accordion-group heading="Chat" template-url="app/layout/content/panel.html">
    <gp-webchat network="irc.snoonet.org" nick="poppyGP" channel="f1" theme="mini">
    </gp-webchat>
  </uib-accordion-group>


  <uib-accordion-group heading="Info" template-url="app/layout/content/panel.html">
    <gp-webchat network="irc.snoonet.org" nick="poppyGP" channel="f1" theme="cli">
    </gp-webchat>
  </uib-accordion-group>


  <uib-accordion-group heading="Race" template-url="app/layout/content/panel.html">
    <gp-webchat network="irc.snoonet.org" nick="poppyGP" channel="f1" theme="basic">
    </gp-webchat>
  </uib-accordion-group>


  <uib-accordion-group heading="Help" template-url="app/layout/content/panel.html">
    <gp-webchat network="irc.snoonet.org" nick="poppyGP" channel="f1" theme="mini">
    </gp-webchat>
  </uib-accordion-group>



</uib-accordion>


