
<uib-accordion close-others="false" class="gp-content-panels">




  <uib-accordion-group heading="Webchat"
                       template-url="app/layout/content/panel.html">

    <gp-webchat network="irc.snoonet.org"
                      nick="poppyGP"
                      channel="f1"
                      theme="mini">
    </gp-webchat>

  </uib-accordion-group>


  <uib-accordion-group heading="Webchat"
                       template-url="app/layout/content/panel.html">

    <gp-webchat network="irc.snoonet.org"
                      nick="poppyGP"
                      channel="f1"
                      theme="mini">
    </gp-webchat>

  </uib-accordion-group>




</uib-accordion>


