
<uib-accordion close-others="true" class="gp-content-panels">




  <uib-accordion-group heading="Home" template-url="app/layout/content/panel.html">
    <div ng-include="'app/layout/sections/home/home.html'"></div>
  </uib-accordion-group>


  <uib-accordion-group heading="Chat" template-url="app/layout/content/panel.html">
    <div ng-include="'app/layout/sections/chat/chat.html'"></div>

  </uib-accordion-group>


  <uib-accordion-group heading="Info" template-url="app/layout/content/panel.html">
    <div ng-include="'app/layout/sections/info/info.html'"></div>
  </uib-accordion-group>


  <uib-accordion-group heading="Race" template-url="app/layout/content/panel.html">
    <div ng-include="'app/layout/sections/race/race.html'"></div>
  </uib-accordion-group>


  <uib-accordion-group heading="Help" template-url="app/layout/content/panel.html">
    <div ng-include="'app/layout/sections/help/help.html'"></div>
  </uib-accordion-group>



</uib-accordion>


