<div class="gp-panel {{panelClass || 'panel-default'}}">


  <a href tabindex="0" class="gp-panel-toggle"
          ng-click="toggleOpen()"
          uib-accordion-transclude="heading">

    {{ heading }}

    <span class="gp-toggle-icon">
      <svg xmlns="http://www.w3.org/2000/svg" fill="#000" height="24" viewBox="0 0 24 24" width="24">
        <path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
    </span>
  </a>





  <div class="gp-panel-collapse collapse"
       uib-collapse="!isOpen">


    <div class="gp-panel-body"
         ng-transclude>

    </div>


  </div>




</div>
