




/* Bootstrap-Sass
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import
  'core/style/variables',
  'core/style/typography',
  'core/style/utilities',
  'core/style/vendor',
  'core/style/base',
  'core/style/layout',
  'core/style/components';




/* Inject Bower Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// bower:scss
// endbower




/* Yeoman (Remove)
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}




/* Inject Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// injector
// endinjector
