
// gp-webchat {
//   z-index: 0;
//
//   position: relative;
//   min-height: 100%;
//   height: 100%;
//   width: 100%;
//
//   padding: 0;
//   margin: 0;
//   overflow: hidden;
//
//   .kiwiirc {
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     border: 0px solid none;
//     padding: 0;
//     margin: 0;
//     overflow: hidden;
//   }
// }
//

$flexframe-padding-top:     rem-calc(25);
$flexframe-padding-bottom:  10%;
$flexframe-margin-bottom:   rem-calc(16);
$flexframe-margin-top:      0;

gp-webchat {

  z-index: 0;
  position: relative;
  //min-height: calc(100% - $navbar-height);
  //height: calc(100% - $navbar-height);
  min-width: 100%;

  padding-top: $flexframe-padding-top; // + $navbar-height;
  padding-bottom: $flexframe-padding-bottom;

  margin-top: $flexframe-margin-top;
  margin-bottom: $flexframe-margin-bottom;

  overflow-y: auto;
  overflow-x: hidden;


  iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;

  }
}

.gp-irc-webchat {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  //bottom: $navbar-height;
  //box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}
