gp-webchat {
  z-index: 0;

  position: relative;
  min-height: 100%;
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;
  overflow: hidden;

  .kiwiirc {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0px solid none;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
}
