<p>Click the <strong>centre</strong> of the video to play/pause.</p>
<p>Click the <strong>bottom-right fullscreen button</strong> to toggle fullscreen mode.</p>

<p>Swipe <strong>left</strong> or click the <strong>top-left logo</strong> to toggle the left content panel.</p>
<p>Click the <strong>bottom-left buttons</strong> to change content panels.</p>

<p>Swipe <strong>right</strong> or click the <strong>top-right menu button</strong> to toggle the right playlist panel.</p>






<h3>Frequently Asked Questions</h3>

<h5>Q: Where are all the questions?</h5>

<p>I'm not sure.  Check back in a day or so?</p>




<h4>Troubleshooting</h4>




<h4>Report an Issue</h4>


<h5>Video Stream</h5>


<h5>Web Application</h5>
