
//@media only screen
//and (min-width: $screen-sm-min) {

//}

//@media (min-width: $screen-sm-min) {

//}
//@media (min-width: $screen-md-min) {

//}
//@media (min-width: $screen-lg-min) {

//}

  //
  // SEE:
  //
  //
gp-panel {
  background: #000;
  border-right: 1px solid #ccc;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
@media (min-width: 768px) {
  gp-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
  }
}


gp-panel.gp-show.ng-hide-remove {
  animation: $swift-ease-in;
}

gp-panel.gp-hide.ng-hide-add {
  animation: $swift-ease-out;
}

