<p><strong>Follow @poppyGrandPrix on Twitter for stream status & announcements!</strong></p>

<p>Click on the help icon in the bottom-left toolbar for assistance.</p>

<h3>Thanks for your continued support!</h3>

<p>Please select one of the payment options below to make a contribution towards the stream.</p>

<h4>Donate via PayPal:</h4>

<form id="paypal-widget" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="45B84VKU6C4JN">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="Donate via PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


<h4>Donate BitCoin:</h4>

<script src="https://gateway.gear.mycelium.com/gear-widget-host.js"></script>
<iframe id="gear-widget" scrolling="no" src="https://gateway.gear.mycelium.com/widgets/054a101b5085786da616848ee7b3d12b42861f63e5f5e6243c29b52b55f53d57"></iframe>


<p>Donations are <strong>optional</strong> but <strong>very much appreciated!</strong> :)</p>

<p>Cheers, <br>Joho</p>
