<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">

  <div class="container-fluid">




    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <svg class="brand-stripes" height="24" width="60">
          <g class="mercedes">
            <path d="M24 0 h-8 l-14 24 h8 Z" stroke="#2ab4a5" stroke-width="1" fill="#2ab4a5">
          </g>
          <g class="ferrari">
            <path d="M40 0 h-8 l-14 24 h8 Z" stroke="#c30000" stroke-width="1" fill="#c30000">
          </g>
          <g class="williams">
            <path d="M56 0 h-8 l-14 24 h8 Z" stroke="#999999" stroke-width="1" fill="#ffffff">
          </g>
        </svg>
      </a>
    </div>




    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">


      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>


      <ul class="nav navbar-nav navbar-right">
        <li>Application was created {{ vm.relativeDate }}.</li>
      </ul>


    </div>




  </div>

</nav>
