/* Mobile
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Smartphones (portrait and landscape) ----------- */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
  and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
  and (max-width : 320px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px)
  and (orientation : landscape)
  and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px)
  and (orientation : portrait)
  and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen
  and (min-device-width: 320px)
  and (max-device-height: 568px)
  and (orientation : landscape)
  and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-height: 568px)
  and (orientation : portrait)
  and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen
  and (min-device-width: 375px)
  and (max-device-height: 667px)
  and (orientation : landscape)
  and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-height: 667px)
  and (orientation : portrait)
  and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen
  and (min-device-width: 414px)
  and (max-device-height: 736px)
  and (orientation : landscape)
  and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen
  and (min-device-width: 414px)
  and (max-device-height: 736px)
  and (orientation : portrait)
  and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen
  and (min-device-width: 320px)
  and (max-device-height: 640px)
  and (orientation : landscape)
  and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-height: 640px)
  and (orientation : portrait)
  and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen
  and (min-device-width: 320px)
  and (max-device-height: 640px)
  and (orientation : landscape)
  and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-height: 640px)
  and (orientation : portrait)
  and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen
  and (min-device-width: 360px)
  and (max-device-height: 640px)
  and (orientation : landscape)
  and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen
  and (min-device-width: 360px)
  and (max-device-height: 640px)
  and (orientation : portrait)
  and (-webkit-device-pixel-ratio: 3){
/* Styles */
}




/* Tablets
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* iPads (portrait and landscape) ----------- */
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait) {
/* Styles */
}

/* iPad 3 --------------------- */

@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape)
  and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait)
  and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}




/* Screens
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
}

// Viewport Breakpoints
// ------------------------------

$device-breakpoints: (
  // mobile portrait
  xs-sm: 360px,
  xs-md: 400px,
  xs-lg: 480px,
  // mobile landscape, tablet portrait
  sm-sm: 600px,
  sm-md: 720px,
  sm-lg: 840px,
  // tablet landscape, small screen
  md-sm: 960px,
  md-md: 1024px,
  md-lg: 1280px,
  // large screen, television
  lg-sm: 1440px,
  lg-md: 1600px,
  lg-lg: 1920px
);


// Stack Vertical on Mobile Portrait
// ------------------------------

$panel-wrapper-height-xs: 40%;
$video-wrapper-height-xs: (100% - $panel-wrapper-height-xs);


// Side-by-Side on Landscape/Screens
// ------------------------------

$panel-wrapper-width-sm:  33%;
$video-wrapper-width-sm:  (100% - $panel-wrapper-width-sm);
$panel-wrapper-width-md:  30%;
$video-wrapper-width-md:  (100% - $panel-wrapper-width-md);
$panel-wrapper-width-lg:  25%;
$video-wrapper-width-lg:  (100% - $panel-wrapper-width-lg);


/* ––––––––––––––––––––––––––––––––––––––––––––––– */








/* Responsive Wrappers
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#main {
  background: #000;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding-top: $navbar-height;
  padding-bottom: $subnav-height;
  margin: 0;
  position: relative;
}

#video-wrapper, #panel-wrapper {
  padding: 0;
  margin: 0;
  position: relative;
  display: inline-block;
  width: 100%;
}

#video-wrapper {
  background: #ccc;
  overflow: hidden;
  height: $video-wrapper-height-xs;


}
#panel-wrapper {
  background: #222;
  overflow-x: hidden;
  overflow-y: auto;
  height: $panel-wrapper-height-xs;
}


@media (min-width: $screen-sm-min) {
  #video-wrapper {
    height: 100%;
    width: $video-wrapper-width-sm;
  }
  #panel-wrapper {
    float: right;
    height: 100%;
    width: $panel-wrapper-width-sm;
  }
}
@media (min-width: $screen-md-min) {
  #video-wrapper {
    width: $video-wrapper-width-md;
  }
  #panel-wrapper {
    width: $panel-wrapper-width-md;
  }
}
@media (min-width: $screen-lg-min) {
  #video-wrapper {
    width: $video-wrapper-width-lg;
  }
  #panel-wrapper {
    width: $panel-wrapper-width-lg;
  }
}

#video-wrapper2 {
  overflow: hidden;
  height: 50%;
  width: 100%;
  @media (min-width: $screen-sm-min) {

  }
  @media (min-width: $screen-md-min) {
    float: left;
    height: 100%;
    width: auto;
  }
  @media (min-width: $screen-lg-min) {

  }
  padding: 0;
  >.row {

  }
}

#panel-wrapper2 {
  background: #222;
  overflow-y: auto;
  overflow-x: hidden;
  //height: $container-panel-height;
  width: 100%;
  @media (min-width: $screen-sm-min) {
  }
  @media (min-width: $screen-md-min) {
    height: 100%;
  //  width: $container-panel-width-md;
  }
  @media (min-width: $screen-lg-min) {
    height: 100%;
  //  width: $container-panel-width-lg;
  }
}
